.header{
  height: 250px;
  width: 100%;
  top: 0;
  background-image: url("../../assets/header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 250px;
  background-position: fixed;

  .linkHome{
    text-decoration: none;
  }

  .titleHeader{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: antiquewhite;
    text-decoration: none;
  }
}