@import "../../global.scss";

.adminCreate{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: #3986A0;
  @include desktop{
    height: calc(100vh - 250px);
    
  }

  .containerYoga{
    margin: 10px;

    @include desktop{
      display: block;
    }

    label{
      margin: 5px;
    }
    input{
      margin: 5px;
      background-color: antiquewhite;;
      border-radius: 10px;
      border: 2px solid antiquewhite;;
      color: #3986A0;
      font-weight: bold;
    }
    textarea{
      margin: 5px;
      width: 95%;
      height: 100px;
      background-color: antiquewhite;;
      border-radius: 10px;
      border: 2px solid antiquewhite;;
      color: #3986A0;

      @include desktop{
        width: 98%;
      }
    }
    #picture{
      border: 1px solid #ccc;
      display: inline-block;
      background-color: antiquewhite;
      padding: 6px 12px;
      color: #3986A0;
      cursor: pointer;

        input[type="file"] {

        }
      }
  }
  .buttonAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;;
    color: #3986A0;
    font-size: 15px;
    padding: 5px 50px;
    border: 2px solid antiquewhite;;
    border-radius: 10px;
    height: 30px;
    width: 50px;
    cursor: pointer;
    &:hover {
      filter: brightness(1.25);
    }
  }
}